{% extends 'base.html' %}
{% block body %}
    {% include 'partials/navbar.html' %}

    <div class="row flex-grow-1">
      
      <div class="col-md-2 d-flex flex-column justify-content-start align-items-stretch">
        {% include "partials/my_journals_sidebar.html" %}
      </div>
      <div class="col-md-8 mb-2 d-flex flex-column justify-content-start align-items-center" style="background-color: #ffffff; border-radius: 20px; padding:20px;">
        {% include 'partials/messages.html' %}
        {% block content %}
        {% endblock %}
      </div>
      
    </div>
  
{% endblock %}

