{% extends "structures/half_row_card.html" %}
{% block card_content%}
    <h3 class="m-0 mb-3">You still need to write a new entry to these journals:</h3>
    {% if user.get_associated_journals|length == 0%}
        <div class="text-center mt-5"><p class="lead display-5">You have no journals</p></div>
    {% elif user.get_journals_without_today_entry|length == 0 %}
        <div class="text-center mt-5"><p class="lead display-5">All journals have a new entry</p></div>
    {% else %}
        {% for journal in user.get_journals_without_today_entry %}
            <tr>
            <td class="py-2">
                <h4 class="fw-normal">
                    <a href='{% url 'view_journal_entries' journal.id %}' class="text-decoration-none text-blue">{{ journal.name }}</a>
                </h4>
            </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
