<div class="row mb-1">
    <p>Level: {{ level }}</p>
    <p>Experience: {{ current_experience }} / {{ experience_needed }}</p>
</div>
<div class="row mb-1 justify-content-center">            
    <h2>Progress to Next Level:</h2>
    <div class="progress" style="width: 95%;">
        <div class="progress-bar" role="progressbar" style="width: {{ progress_to_next_level }}%;" aria-valuenow="{{ progress_to_next_level }}" aria-valuemin="0" aria-valuemax="100">{{ progress_to_next_level|floatformat:2 }}%</div>
    </div>
</div>